{% extends "base.html" %}

{% block title %} Users | Library{% endblock %}

{% block content %}
    
<link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">


<style>
.btn1{
    display: inline-block;
    padding: 10px 20px;
    background-color:rgba(95, 95, 105, 1);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.btn1:hover {
    background-color: rgba(33, 32, 32, 1);
    color: white;

}
</style>


<section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">User Table</h3>
            </div>



  <div class="container mt-4">
    {% load static %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0"></h2>
        <a href="{% url 'adduser' %}" class="btn1 ">Add User</a>
    </div>

     <form class="form-inline ml-3 " action="{% url 'searchuser' %}" method="GET">
      <div class="input-group input-group-sm">
        {% comment %} <input  name="q" class="form-control form-control-navbar" type="search" value="{{request.GET.q}}" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search ms-4"></i>
          </button> {% endcomment %}
          <input id="searchuser" name="q" class="form-control" type="search" placeholder="Search">

        </div>
      
    </form>



    
    </div>




            <!-- /.card-header -->
    <div class="card-body">
                
              <table action="/" method="GET" id="example2" class="table table-bordered table-hover">
                

            <thead>
                <tr>
                    <th>Library-ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact No</th>
                    <th>Address</th>
                    <th>action</th>


                </tr>
            </thead >


            <tbody id="table-body">
                    {% for user in users %}
                        {% if user.status != '5' %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.full_name}}</td>  
                    <td>{{user.email}}</td>
                    <td>{{user.phone_no}}</td>
                    <td>{{user.address}}</td>

                    <td>
                    
                            <a href="{% url 'viewuser' user.id %}" class="btn btn-sm btn-primary">
                                <i class="nav-icon fas fa-eye "></i>
                            </a>

                            {% comment %} <a href="{% url 'edituser' user.id %}" class="nav-link btn-sm btn-warning text-white">
                                <i class="nav-icon fas fa-edit bi bi-pencil"></i>
                                    <i class="bi bi-pencil"></i>
                                </a> {% endcomment %}
                             <a href="{% url 'edituser' user.id %}" class="btn btn-sm btn-warning text-white">
                                <i class="nav-icon fas fa-edit bi bi-pencil"></i>
                            </a> 

                            {% if user.has_active_borrow %}

                                <span data-bs-toggle="tooltip" data-bs-placement="left" 
                                title="This user has an active borrow record, cannot delete.">
                                <a href="{% url 'deleteuser' user.id %}"
                                class="btn btn-sm btn-secondary disabled" 
                                tabindex="-1" aria-disabled="true">
                                <i class="nav-icon fas fa-trash"></i>
                                </a>
                            </span>

                                {% comment %} <a href="{% url 'deleteuser' user.id %}" class="btn btn-sm btn-secondary delete-btn disabled" data-active="true"
                                data-bs-toggle = "tooltip"
                                data-bs-placement =  "left"
                                title = "This user has an active borrow record, cannot delete.">
                                    <i class="bi bi-trash"></i>
                                    </a> {% endcomment %}
                            {% else %}
                                <a href="{% url 'deleteuser' user.id %}" class="btn btn-sm btn-danger delete-btn" data-active="false">
                                    <i class="nav-icon fas fa-trash"></i>
                                    </a>
                            {% endif %}
                        
                        </td>

                </tr>
                {% endif %}
            {% empty %}
               
                <tr>
                    <td>No active users found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>







<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const searchInput = document.getElementById("searchuser");
  const tableBody = document.getElementById("table-body");

  searchInput.addEventListener("keyup", function () {
    let query = this.value.trim();

    fetch("{% url 'searchuser' %}?q=" + encodeURIComponent(query), {
      headers: { "X-Requested-With": "XMLHttpRequest" }
    })
      .then(res => res.json())
      .then(data => {
        tableBody.innerHTML = data.html;
      });
  });
});
</script>































    {% comment %} <a href="{% url 'adduser' %}">Add user</a> {% endcomment %}

{% comment %} <form action="{% url 'searchuser' %}" method="GET" class="d-flex mb-3" style="max-width: 500px;">
        <input type="text"
            name="q"
            class="form-control me-2"
            placeholder="search by user's name" 
            value="{{request.GET.q}}"
            style="flex-grow: 1;"> 
            <button type="submit" class="btn1 me-2">Search</button>
            <a href="{% url 'users' %}" class="btn1">Reset</a>
        
        </form>
      {% endcomment %}
    
    {% comment %} <div class="container mt-5 width-80% table-responsive-md" >
        <table action="/" id="user" method="GET" class="table table-bordered table-hover align-middle text-center ">
            <thead>
                <tr>
                    <th>Library-ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact No</th>
                    <th>Address</th>
                    <th>action</th>


                </tr>
            </thead>


            <tbody class="">
                    {% for user in users %}
                        {% if user.status != '5' %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.full_name}}</td>  
                    <td>{{user.email}}</td>
                    <td>{{user.phone_no}}</td>
                    <td>{{user.address}}</td>

                    <td>
                    
                            <a href="{% url 'viewuser' user.id %}" class="btn btn-sm btn-primary">
                                <i class="bi bi-eye"></i>
                            </a>
                            <a href="{% url 'edituser' user.id %}" class="btn btn-sm btn-warning text-white">
                                <i class="bi bi-pencil"></i>
                            </a>

                            {% if user.has_active_borrow %}

                                <span data-bs-toggle="tooltip" data-bs-placement="left" 
                                title="This user has an active borrow record, cannot delete.">
                                <a href="{% url 'deleteuser' user.id %}"
                                class="btn btn-sm btn-secondary disabled" 
                                tabindex="-1" aria-disabled="true">
                                <i class="bi bi-trash"></i>
                                </a>
                            </span>

                            {% else %}
                                <a href="{% url 'deleteuser' user.id %}" class="btn btn-sm btn-danger delete-btn" data-active="false">
                                    <i class="bi bi-trash"></i>
                                    </a>
                            {% endif %}
                        
                        </td>

                </tr>
                {% endif %}
            {% empty %}
               
                <tr>
                    <td>No active users found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div> {% endcomment %}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
       var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  tooltipTriggerList.forEach(function (tooltipTriggerEl) {
    new bootstrap.Tooltip(tooltipTriggerEl)
  })
        document.querySelectorAll(".delete-btn").forEach(function(btn) {
            btn.addEventListener("click", function(event) {
                const isActive = this.getAttribute("data-active") === "true";
                
                if (isActive) {
                    event.preventDefault(); 
                    alert("Deletion blocked! This user has an active borrow record.");
                } 
                else {
                    const confirmDelete = confirm("Are you sure you want to delete this user?");
                    if (!confirmDelete) {
                        event.preventDefault(); 
                    }
                }
            });
        });
    });
</script>

{% endblock %}